.compare-tip {
    width: 100%;
    float: right;
    text-align: center;
    span.success {
        color: green;
        font-weight: bolder;
    }
    span.danger {
        color: red;
        font-weight: bolder;
    }
}
.backgrounded-con {
    background: #f1f3f8;
}
.form-control {
    border: 1px solid #ddd;
}
textarea {
    border: 1px solid #ddd !important;
}
select {
    border: 4px solid #ddd !important;
}
.drag-and-drop {
    color: #9d9d9d;
    border: 1px solid #9d9d9d;
    cursor: pointer;
    i {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
}
.tableCon {
    overflow-x: scroll;
    max-width: calc(100vh);
}
.input_container {
    border: 1px solid #e5e5e5;
  }
  
  input[type=file]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
  }

table {
    border: 1px solid #333;
}
thead, tr,td {
    border: 1px solid #333;
}

.settingsTab {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #f1f3f8;
    font-size: 17px;
    cursor: pointer;
    &:hover{
        background: #101828;
        color: #fff;
        font-weight: bold;
    }
}
.activeSettingsTab {
    background: #101828;
    color: #fff;
    font-weight: bold;
}

.a4 {
    width: 210mm;
    height: 297mm;
    max-height: 297mm;
    min-height: 297mm;
    background: #fff;
    padding: 10px;
    margin: auto;
    h6,h5 {
        font-weight: bold;
    }
    .requestTitle {
        width: 210px;
        margin: auto;
        background: #E7E6E6;
        text-align: center;
        font-weight: bold;
    }
    .backgrounded-table {
        background: #E7E6E6;
        margin-bottom: 10px;
    }
    td {
        padding: 2px  !important;
    }
    .table-borderless {
        border-bottom: 3px solid #000000 !important;
        border: 0px;
        text-align: center;
        thead, tr,td {
            border: 0px !important;
            padding: 0px  !important;
        }
    }
    .conTT {
        background: #fff;
        font-size: 13px;
        padding: 0px !important;
        word-break: break-all;
        text-align: center;
        table{
            border: 0px !important;
            margin-bottom: 0px !important;
        }
    }
    .p30i{
        padding: 7px !important;
    }
    .p30ii{
        padding: 20px !important;
    }
    .p30{
        padding: 60px !important;
    }
    .tipData {
        font-size: 13px;
    }
}
.chatBox {
    float: left;
    position: fixed;
    bottom: 0px;
    background: #fff;
    box-shadow: 2px -2px 20px 3px #d9d9d9de;
    z-index: 99;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    .chatTitle{
        padding: 15px;
        span {
            color: #27ac41;
            font-weight: bolder;
            padding: 5px;
        }
    }
    .usersBox {
        height: 420px;
        max-height: 100%;
        border-top: 2px solid #f1f3f8;
        textarea{
            padding: 10px;
            width: 100%;
            float: left;
        }
        .userData{
            max-width: 100%;
            word-break: break-all;
            border-top: 2px solid #f1f3f8;
            padding: 15px;
            text-align: left;
            font-weight: 200;
            color: rgb(111, 111, 111);
            .userName {
                text-align: center;
                font-weight: bold;
                color: #000 !important;
                font-size: 17px;
            }
            p {
                font-size: 14px;
            }
        }
        .sendMsg{
            float: left;
            position: absolute;
            bottom: 0px;
            padding: 10px;
            border-top: 2px solid #f1f1f1;
            z-index: 1000;
            background: #fff;
        }
        .send{
            padding: 15px;
            cursor: pointer;
        }
        .fromOther{
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            span {
                min-width: 70%;
                float: left;
                padding: 5px;
                background: #f1f3f8;
                border-radius: 30px;
                word-break: break-all;
                max-width: 100%;
                font-size: 14px;
                font-weight: bold;
            }
        }
        .fromMe{
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            span {
                min-width: 70%;
                float: right;
                padding: 5px;
                background: #c7debf;
                border-radius: 30px;
                word-break: break-all;
                max-width: 100%;
                font-size: 15px;
            }
        }
    }
    
    .close{
        padding: 10px !important;
        float: right;
        margin-top: -10px;
        background: #ce4343;
        color: #fff !important;
        border-radius: 50px;
        width: 43px;
    }
    .chatMsgs{
        height: 258px;
        overflow-y: scroll;
    }
}

.editUserModal {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
    max-width: 100%;
    height: 95%;
    overflow-y: scroll;
}
.closeEditor {
    position: fixed;
    top: 20px;
    z-index: 99999999;
    left: 20px;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }